*{
    margin: 0;
    padding: 0;
}
/* body */
body{
    font-family: Arial, sans-serif;
    background: linear-gradient(#3b0070, #ff007f); /*memberikan gradasi warna ungu ke pink*/
    color:white;
}

/* Header */
header{
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.navbar ul {
    display: flex; /* agar menu navigasi  satu baris */
    list-style: none;   
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: #ff007f;
    text-decoration: none;
    font-weight: bold;
}

.navbar ul li a:hover{
    color:#9400d3;
}

/* Main*/
main{
    padding: 50px;
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px;
}
.about p{
    font-size: 25px;
    margin-bottom: 15px;
}

.about .photo img {
    border-radius: 50%;
    border: 5px solid #ff007f;
}
.about .photo h4, h5{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black ;
}

.about .info {
    max-width: 500px;
    text-align: left;
}
.about .info a {
    text-decoration: none;
}

.about .info h2 {
    color: black;
    font-size: 35px;
    margin-bottom: 25px;
    text-shadow: 2px 2px 2px #ff007f ;
}

.about .info h4 {
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px 2px black ;
}

.about .email {
    color: black;
    background-color: rgba(255, 192, 203, 0.5);
    padding: 20px;
}

/* footer */
footer{
    background-color: black;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

footer p{
    color: #ff007f;
    font-size: 15px;
}